<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aura_a_tianxiawushuang_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{186,65}</string>
                <key>spriteSourceSize</key>
                <string>{196,77}</string>
                <key>textureRect</key>
                <string>{{9,1298},{186,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{186,67}</string>
                <key>spriteSourceSize</key>
                <string>{196,79}</string>
                <key>textureRect</key>
                <string>{{9,1044},{186,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{186,66}</string>
                <key>spriteSourceSize</key>
                <string>{196,80}</string>
                <key>textureRect</key>
                <string>{{9,1214},{186,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,65}</string>
                <key>spriteSourceSize</key>
                <string>{196,79}</string>
                <key>textureRect</key>
                <string>{{9,1381},{186,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{188,68}</string>
                <key>spriteSourceSize</key>
                <string>{196,72}</string>
                <key>textureRect</key>
                <string>{{9,437},{188,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,70}</string>
                <key>spriteSourceSize</key>
                <string>{196,72}</string>
                <key>textureRect</key>
                <string>{{9,692},{186,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{186,64}</string>
                <key>spriteSourceSize</key>
                <string>{196,76}</string>
                <key>textureRect</key>
                <string>{{9,1464},{186,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,62}</string>
                <key>spriteSourceSize</key>
                <string>{196,80}</string>
                <key>textureRect</key>
                <string>{{9,523},{188,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{190,67}</string>
                <key>spriteSourceSize</key>
                <string>{200,71}</string>
                <key>textureRect</key>
                <string>{{9,352},{190,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{194,64}</string>
                <key>spriteSourceSize</key>
                <string>{202,72}</string>
                <key>textureRect</key>
                <string>{{9,270},{194,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,73}</string>
                <key>spriteSourceSize</key>
                <string>{202,75}</string>
                <key>textureRect</key>
                <string>{{9,9},{196,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{196,67}</string>
                <key>spriteSourceSize</key>
                <string>{202,73}</string>
                <key>textureRect</key>
                <string>{{9,100},{196,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{194,67}</string>
                <key>spriteSourceSize</key>
                <string>{202,73}</string>
                <key>textureRect</key>
                <string>{{9,185},{194,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{186,67}</string>
                <key>spriteSourceSize</key>
                <string>{200,75}</string>
                <key>textureRect</key>
                <string>{{9,1129},{186,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{186,70}</string>
                <key>spriteSourceSize</key>
                <string>{196,76}</string>
                <key>textureRect</key>
                <string>{{9,780},{186,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{186,70}</string>
                <key>spriteSourceSize</key>
                <string>{196,78}</string>
                <key>textureRect</key>
                <string>{{9,868},{186,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{186,71}</string>
                <key>spriteSourceSize</key>
                <string>{196,79}</string>
                <key>textureRect</key>
                <string>{{9,603},{186,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{186,70}</string>
                <key>spriteSourceSize</key>
                <string>{196,80}</string>
                <key>textureRect</key>
                <string>{{9,956},{186,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{186,62}</string>
                <key>spriteSourceSize</key>
                <string>{196,82}</string>
                <key>textureRect</key>
                <string>{{9,1627},{186,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_a_tianxiawushuang_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{186,63}</string>
                <key>spriteSourceSize</key>
                <string>{196,81}</string>
                <key>textureRect</key>
                <string>{{9,1546},{186,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>danhchangiangho.png</string>
            <key>size</key>
            <string>{214,1698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8947195ea2635b7a2172d9148cfe4861:740e9d7b7390595236ee31ba1b86095a:b95bfb2b3091f4327b4e8f71872bfe77$</string>
            <key>textureFileName</key>
            <string>danhchangiangho.png</string>
        </dict>
    </dict>
</plist>
